.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo-wrapper {
    width: 150px;
}
.links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
}
.main-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.utility-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
